@charset "utf-8";

/* 페이지 로딩 화면 */
#fade_wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/loading_background.jpg') center fixed no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 999;
}

#fade_wrap .fade {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
}

#fade_wrap .fade.one {
    background: url('img/gallery.svg') center fixed no-repeat;
    background-size: contain;
}

#fade_wrap .fade.two {
    background: url('img/logo_icon.svg') center fixed no-repeat, rgba(0, 0, 0, 1);
    background-size: contain;
}

/* 슬라이드 */
#gallery_wrap {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("img/background2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
}

#gallery_wrap .background {
    width: 100%;
    height: 350px;
    z-index: 989;
}

#gallery_wrap .background.top {
    position: absolute;
    top: 0;
    background: url("img/top.png") center no-repeat;
    background-size: cover;
}

#gallery_wrap .background.bottom {
    position: absolute;
    bottom: 0;
    background: url("img/top1.png") center no-repeat;
    background-size: cover;
}

#gallery_wrap .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto 0;
}

#gallery_wrap .swiper-slide {
    width: 50%;
}

#gallery_wrap .swiper-slide img {
    display: block;
    width: 100%;
}

#mobile {
    display: none;
}

/* 미디어쿼리 */
@media screen and (max-width:600px) {
    #desk {
        display: none;
    }

    #mobile {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #mobile .swiper-wrapper {
        align-items: center;
    }

    #mobile .swiper-slide {
        width: 80%;
    }

    #mobile .swiper-button-next {
        width: 30px;
        height: 30px;
        transform: rotate(-90deg);
    }

    #mobile .swiper-button-prev {
        width: 30px;
        height: 30px;
        transform: rotate(90deg);
    }

    #mobile .swiper-button-next::after,
    #mobile .swiper-button-prev::after {
        content: '\2190';
        font-size: 1.8rem;
        color: #eee;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}